<div class="container">
  <br>
  <nav>
      <div class="nav-wrapper blue-grey">
        <div class="col s12">
          <a routerLink="/" class="breadcrumb">Home</a>
          <a routerLink="/portafolios" class="breadcrumb">Portafolios</a>
          <span class="breadcrumb">Prácticas</span>
        </div>
      </div>
    </nav> 
    <br>
    <div class="row">
        <div class="col s12 m6 tarjeta" *ngFor="let pract of arrayPracticas">
          <div class="card">
            <div class="card-image">
              <img src="../assets/images/practicas/{{pract.imagen}}">
              
              <a class="btn-floating halfway-fab waves-effect waves-light red" routerLink="/portafolios/practica/{{pract.id}}"><i class="material-icons">remove_red_eye</i></a>
            </div>
            <div class="card-content">
                <span class="card-title">{{pract.nombre}}</span>
              <p>{{pract.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
</div>