<div class="container">

  <br>
  <nav>
    <div class="nav-wrapper blue-grey">
      <div class="col s12">
        <a routerLink="/" class="breadcrumb">Home</a>
        <span class="breadcrumb">Tecnologías</span>
      </div>
    </div>
  </nav> 
  <br>


      <!-- Tecnologia que he usado -->
      <div class="col s12"><h5 class="header">Tecnologías de desarrollo usadas a nivel profesional</h5></div>
      <div class="col s6">
       
          <div class="col s12"> 
            <blockquote>
              <ul>
                <li><fa-icon [icon]="['fab', 'php']"></fa-icon> PHP</li>
                <li><i class="icon-yii"></i> Yii Framework</li>
                <li><i class="icon-js"></i> JavaScript (Vanilla)</li>
                <li> <fa-icon [icon]="['fab', 'css3-alt']"></fa-icon> CSS3 (Básico)</li>
                <li> <i class="icon-mariadb"></i> MariaDB / MySQL</li>
              </ul> 
            </blockquote>
          </div>
      </div>

      
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a class="active" href="#php">PHP</a></li>
              <li class="tab col s2"><a href="#yii2">Yii 2</a></li>
              <li class="tab col s2"><a href="#js">JavaScript</a></li>
              <li class="tab col s2"><a href="#css3">CSS</a></li>
              <li class="tab col s2"><a href="#mdb">MariaDB</a></li>    
            </ul>
          </div>
          <div id="php" class="col s12">PHP fue el primer lenguaje de programación que usé para de desarrollo web. Es un lenguaje que ha madurado bastante con el 
            paso del tiempo, llegando a ser muy robusto en donde se puede hacer muchos tipos de implementaciones.</div>
          <div id="yii2" class="col s12">Yii, por su parte, es un framework (construido en php) basado en el patrón de diseño MVC con el cual he hecho mi primer aplicación web funcional de manera
            profesional. Siendo un framework robusto, seguro y fácil de usar.</div>
          <div id="js" class="col s12">JavaScript es un lenguaje que suelo usarlo para funciones concretas que manejo en el DOM, que lo complemento
            con una librería que al día de hoy se sigue usando: jQuery.
          </div>
          <div id="css3" class="col s12">CSS he usado muy poco debido a que me apoyo de Fraweworks de diseño como Boostrap, o en este caso, Materialize.
            Sin embargo, conozco las cosas elementales.
          </div>
          <div id="mdb" class="col s12">Tengo experiencia en diseño y consultas  de bases de datos SQL. Los dos gestores que más he usado
            son MariaDB y MySql, los cuales tienen el mismo nucleo.
          </div>
        </div>
   

      <div class="divider"></div>
 

      <div class="col s6">
        <div class="col s12"><h5 class="header">Tecnologías en aprendizaje</h5></div>
          <div class="col s12"> 
            <blockquote>
              <ul>
                <li><fa-icon [icon]="['fab', 'laravel']"></fa-icon> Laravel</li>
                <li><i class="icon-django"></i> Django</li>
                <li> <fa-icon [icon]="['fab', 'angular']"></fa-icon> Angular</li>
                <li> <i class="icon-ionic"></i> Ionic Framework</li>
              </ul> 
            </blockquote>
          </div>
      </div>

     
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#laravel">Laravel</a></li>
              <li class="tab col s3"><a href="#django">Django</a></li>
              <li class="tab col s3"><a href="#angular">Angular</a></li>
              <li class="tab col s3"><a href="#ionic">Ionic</a></li>
            </ul>
          </div>
          <div id="laravel" class="col s12">Laravel es un framework MVC robusto para crear aplicaciones complejas y compatible con librerias de JS modernas;
            aunque no tengo mucha experiencia en el desarrollo de aplicaciones con esta herramienta.  
          </div>
          <div id="django" class="col s12">Django es un framework construido en Python, ligero y con una sintaxis simple. Lo poco que he codificado aquí, se me ha hecho
            sencillo de comprender.  </div>
          <div id="angular" class="col s12">Angular es un framewok de JavaScript moderno que facilita mucho el control del DOM con poco código. Este sitio web está construído en angular.
          </div>
          <div id="ionic" class="col s12">Con Ionic es posible crear apps móviles híbridas y multiplataformas. Su integración nativa con ángular permite 
            el fácil manejo de diversas librerías.
          </div>
        </div>

      <div class="divider"></div>

      <div class="col s6">
        <div class="col s12"><h5 class="header">Servidores</h5></div>
          <div class="col s12"> 
            <blockquote>
              <ul>
                <li><fa-icon [icon]="['fab', 'linux']"></fa-icon> OS Basados en Linux</li>
                <li><i class="icon-nginx"></i> Nginx</li>
              </ul> 
            </blockquote>
          </div>
      </div>

     
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#linux">Linux</a></li>
              <li class="tab col s3"><a href="#nginx">Nginx</a></li>
            </ul>
          </div>
          <div id="linux" class="col s12">
            He usado distribuciones basadas en linux para alojar sitios web. Principalmente Ubuntu y Centos.
          </div>
          <div id="nginx" class="col s12">He hecho configuraciones básicas de este software servidor de alto rendimiento.</div>
        </div>



        <div class="divider"></div>
 

        <div class="col s6">
          <div class="col s12"><h5 class="header">Herramientas usadas en este sitio</h5></div>
            <div class="col s12"> 
              <blockquote>
                <ul>
                  <li><fa-icon [icon]="['fab', 'angular']"></fa-icon> Angular 14</li>
                  <li><i class="icon-jquery"></i> jQuery 3.6.1</li>
                  <li><i class="icon-firebase"></i> Firebase</li>        
                  <li> <i class="icon-materialize"></i> Materialize 1.0.0</li>
                </ul> 
              </blockquote>
            </div>
        </div>
     
  
     
</div>