  <nav class="cyan darken-3 lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="/" class="brand-logo">Portafolios</a>
      <ul class="right hide-on-med-and-down">
        <li><a  routerLink="/">Home</a></li>
        <li><a routerLink="experiencia">Experiencia</a></li>
        <li><a routerLink="portafolios">Porfafolios</a></li>
        <li><a routerLink="tecnologias">Tecnologías</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a routerLink="/" class="elem-menu">Home</a></li>
        <li><a routerLink="experiencia" class="elem-menu">Experiencia</a></li>
        <li><a routerLink="portafolios" class="elem-menu">Portafolios</a></li>
        <li><a routerLink="tecnologias" class="elem-menu">Tecnologías</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <router-outlet></router-outlet>

  <footer class="page-footer brown lighten-1">
    <div class="container">
      
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">&copy; {{year | date:'YYYY'}} Gilberto Rodríguez </h5>
          <p class="grey-text text-lighten-4"> Este proyecto tiene como fin mostrar evidencia de proyectos profesionales y practicas a modo de prueba/demo. Todas las marcas de producto y marcas registradas son propiedad de sus respectivos titulares.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social media</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/gilbertrodriguez97" target="_blank"><fa-icon [icon]="['fab', 'github']"></fa-icon> GitHub</a></li>
            <li><a class="white-text" href="mailto:gilbert_delacruz@hotmail.com"><fa-icon [icon]="['far', 'envelope']"></fa-icon> E-mail</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/gilberto-rodr%C3%ADguez-de-la-cruz-9829b6243/" target="_blank"><fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon> Linkedin</a></li>
            <li><a class="white-text" href="https://facebook.com" target="_blank"><fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Enlaces al sitio</h5>
          <ul>
            <li><a class="white-text" routerLink="/">Home</a></li>
            <li><a class="white-text" routerLink="experiencia">Experiencia</a></li>
            <li><a class="white-text" routerLink="portafolios">Portafolios</a></li>
            <li><a class="white-text" routerLink="tecnologias">Tecnologías</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Diseñado usando <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


