<div class="container">
    <br>
    <nav>
        <div class="nav-wrapper blue-grey">
          <div class="col s12">
            <a routerLink="/" class="breadcrumb">Home</a>
            <a routerLink="/portafolios" class="breadcrumb">Portafolios</a>
            <a routerLink="/portafolios/practicas" class="breadcrumb">Practicas</a>
            <span class="breadcrumb">{{nombre}}</span>
          </div>
        </div>
      </nav> 
      <br>

      <div class="row">
        <div class="col s12">
            <h5 class="center-align">{{nombre}}</h5>
         </div>
         
         <div class="col s12">
           
               <p> <b>Descripción:</b>{{descripcion}}<br>
               <b> Status: </b> {{terminado}}<br>
              <b> Año: </b> {{anio}}</p>
             
         </div>
         <div class="content-center col s12">
            <img class="materialboxed responsive-img" width="600" src="{{imagen}}">
        
          </div>

          <div class="col s12"><h5 class="header">Tecnologias usadas</h5></div>
          <div class="col 12"> 
            <blockquote>
              <ul>
                <li *ngFor="let tec of tecnologias"> &#8226; {{tec}}</li>
              </ul> 
            </blockquote>
          </div>
      </div>
      


      


</div>
